@use "./mixins" as *;

// 共通設定
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    line-height: 2;
    font-family: "Lora","Noto Sans JP", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary);
}

ul,
ol {
    list-style: none;
}

/* ヘッダーハンバーガーメニュー */
.header-btn{
    width: 24px;
    height: 24px;
    position: relative;
    position: fixed;
    margin-left: 24px;
    margin-top: 17px;
    // top: 5%;
    // left: 5%;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.header-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: .3s;
}

.header-btn span:first-of-type{
    top: 0;
}
.header-btn span:nth-of-type(2){
    top: 50%;
}
.header-btn span:last-of-type{
    top: 100%;
}

.header-btn.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(45deg);
    background-color: var(--primary);
}
.header-btn.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
    opacity: 0;/* 透明にする */
}
.header-btn.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-45deg);
    background-color: var(--primary);
}

.header__content{
    align-items: center;
    background-color: #ccc;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 56px;
    z-index: 90;
}
.header__logo{
    align-items: center;
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
    height: auto;
    width: auto;
    a{
        display: inline-block;
        height: auto;
        width: auto;
    }
    img{
        height: auto;
        width: 200px;
    }
}

.header__shopsite{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8125rem;
    text-transform: capitalize;
    grid-column: 3/4;
    grid-row: 1/3;
    position: absolute;
    right: 0;
    margin-right: 24px;
}
.header__shopsite::after{
    content: "";
    display: inline-block;
    height: 30px;
    background: url(../img/sports-shoes.svg)  no-repeat;
    vertical-align: middle;
    width: 30px;
}
@media screen and (max-width: 600px){
    .header__shopsite span{
        display: none;
    }
}

@include mq{
    .header__shopsite::after{
        height: 24px;
        width: 24px;
    }
}


@media screen and (max-width: 600px){
    .global__nav__list{
        background-color: var(--secondary);
        position: fixed;
        width: 80%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        transform: translateX(-100%);
    }
    .global__nav__list.active{
        transform: translateX(0); 
    }
}