@use "./mixins" as *;

// 共通設定
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text);
    line-height: 2;
    font-family: "Lora","Noto Sans JP", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--primary);
}

ul,
ol {
    list-style: none;
}

/* ヘッダーハンバーガーメニュー */
.header-btn{
    width: 24px;
    height: 24px;
    position: relative;
    position: fixed;
    margin-left: 24px;
    margin-top: 17px;
    // top: 5%;
    // left: 5%;
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.header-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    transition: .3s;
}

.header-btn span:first-of-type{
    top: 0;
}
.header-btn span:nth-of-type(2){
    top: 50%;
}
.header-btn span:last-of-type{
    top: 100%;
}

.header-btn.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(45deg);
    background-color: var(--primary);
}
.header-btn.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
    opacity: 0;/* 透明にする */
}
.header-btn.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-45deg);
    background-color: var(--primary);
}

.header__content{
    align-items: center;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 56px;
    z-index: 90;
}
.header__logo{
    align-items: center;
    display: flex;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
    height: auto;
    width: auto;
    a{
        display: inline-block;
        height: auto;
        width: auto;
    }
    img{
        height: auto;
        width: 200px;
    }
}

.header__shopsite{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.8125rem;
    text-transform: capitalize;
    grid-column: 3/4;
    grid-row: 1/3;
    position: absolute;
    right: 0;
    margin-right: 24px;
}
.header__shopsite::after{
    content: "";
    display: inline-block;
    height: 30px;
    background: url(../img/sports-shoes.svg)  no-repeat;
    vertical-align: middle;
    width: 30px;
}
@media screen and (max-width: 600px){
    .header__shopsite span{
        display: none;
    }
}

@include mq{
    .header__shopsite::after{
        height: 24px;
        width: 24px;
    }
}

.global__nav{
    background-color: var(--secondary);
    position: fixed;
    width: 70%;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.3s ease;
    &__list{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0px 40px 24px;
    }
    ul li:nth-child(2){
        margin-top: 60px;
    }
    &__item span{
        font-weight: 700;
    }
    &__title-en{
        line-height: 24px;
        font-size: 1.4rem;
        padding-right: 16px;
    }
}
.global__nav.active{
    transform: translateX(0); 
}

.global__nav__logo{
    width: auto;
    height: auto;
    
    img{
        width: min(32vw, 120px);
        height: 30px;
        position: fixed;
    }
}

@include mq {
    .global__nav{
        width: 450px;
    }
}

.mv{
    height: 80vh;
    width: 100%;
    top: 56px;

    // slick
    .slick-list,
    .slick-track{
        height: 100%;
    }

    &__panel{
        height: 100%;
        position: relative;
        object-fit: cover;
        // filter: brightness(80%);
    }
    img{
        object-fit: cover;
        object-position: center center;
    }
}

.mv-title{
    position: absolute;
    z-index: 1;
    bottom: 25%;
    h1{
        color: var(--primary);
        text-align: left;
        background-color: #fff;
        margin-bottom: 16px;
        margin-left: 16px;
        padding-right: 4px;
        font-weight: 700;
        font-size: 1.2rem;
        overflow: hidden;
        width: fit-content;
        // white-space: nowrap;
    }
}

@include mq{
    .mv-title{
        h1{
            font-size: 1.75rem;
            margin-left: 40px;
        }
    }
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin: 80px 24px;
}

.introduction{
    &__head{
        text-align: center;
        font-size: 1.1rem;
    }
    &__lead{
        text-align: center;
        margin-top: 48px;
        line-height: 2.5;
        font-size: 0.85rem;
    }
}
@include mq{
    .introduction{
        &__head{
            font-size: 1.3rem;
        }
        &__lead{
            font-size: 1.1rem;
        }
    }
}

.material{
    background-color: var(--secondary);
}
.material__container{
    &__head{
        text-align: center;
        font-size: 1.1rem;
        padding-top: 80px;
    }
    &__text{
        text-align: center;
        margin-top: 48px;
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 600px){
    .material__item{
        padding-bottom: 80px;
        &__main{
            img{
                width: 70%;
                margin: 0 auto;
            }
        }
    }
}

.material__item{
    &__secondary{
        img{
            border-radius: 20px;
        }
    }
}

@include mq{
    .material__container{
        &__head{
            font-size: 1.2rem;
        }
        &__text{
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }
    .material__item{
        display: flex;
        justify-content: center;
        align-items: center;
        &__main{
            img{
                width: 500px;
            }
        }
        &__secondary{
            img{
                width: 500px;
            }
        }
    }
}

.description__container{
    &__heading{
        &__head{
            font-size: 1.1rem;
            text-align: center;
        }
        &__lead{
            font-size: 1rem;
            text-align: center;
            text-decoration: underline var(--text);
            margin-bottom: 48px;
        }
    }
}
.description__inner{
    &__title{
        font-size: 1rem;
        margin-bottom: 16px;
    }
    &__text{
        margin-bottom: 40px;
    }
}
.description__caption{
    img{
        border-radius: 20px;
    }
}

@include mq{
    .description__container{
        &__heading{
            &__head{
                font-size: 1.2rem;
            }
            &__lead{
                font-size: 1.1rem;
            }
        }
    }
    .description__inner{
        width: 534px;
        &__title{
            font-size: 1.1rem;
            margin-bottom: 40px;
        }
        &__text{
            font-size: 1rem;
            max-width: 25rem;
            line-height: 2.5rem;
        }
    }
    .description__container__body{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .description__caption{
        img{
            width: 400px;
            margin-left: 40px;
        }
    }
}

// 背景固定の画像部分
.bg-inbetween {
    height: 55vh;
    position: relative;

    &__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        clip-path: inset(0 0 0 0);
    }

    img {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
}